body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 150px;
    height: auto;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

.divisoria {
    width: 100%;
    margin-top: -10px;
    background-size: contain;
    border-bottom: 2px solid #FFD700;
}

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 0;
    background-color: #000;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    padding:10px;
}

.imagem-produto {
    width: 150px;
    height: px;
    background-size: cover;
    background-position: center;
    border-bottom: 6px solid #FFD700;
    border-radius: 10px;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem-produto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #FFD70044;
}

.produto p {
    padding: 5px;
    font-size: 16px;
    color: #f2f2f2;
    margin: 0;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    color: #777;
    border-top: 2px solid #FFD700;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .imagem-produto {
        width: 180px;
        height: 180px;
    }
}
