/*global */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 60px;
    height: auto;
}

.logo h1 {
    font-size: 24px;
    color: #FFD700;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

/* divisória */
.divisoria {
    width: 100%;
    height: 20px;
    background: url('arame.png') repeat-x center;
    background-size: contain;
    border-bottom: 2px solid #FFD700;
}

/* produtos */
.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 0;
    background-color: #000;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
}

/* imagens */
.produto:nth-child(1) .imagem-produto {
    background-image: url('Camiseta\ Preta\ com\ Logo\ ZZ.png'); 
}

.produto:nth-child(2) .imagem-produto {
    background-image: url('Camiseta\ Cinza\ com\ Estampa\ de\ Fio\ Maranhão.png');
}

.produto:nth-child(3) .imagem-produto {
    background-image: url('Camiseta\ Estilo\ Streetwear\ com\ ZZ.png'); 
}

.produto:nth-child(4) .imagem-produto {
    background-image: url('WhatsApp\ Image\ 2025-11-11\ at\ 21.54.01.jpeg'); 
}

.produto:nth-child(5) .imagem-produto {
    background-image: url('WhatsApp\ Image\ 2025-11-11\ at\ 21.55.17.jpeg'); 
}

.produto:nth-child(6) .imagem-produto {
    background-image: url('WhatsApp\ Image\ 2025-11-11\ at\ 21.55.33.jpeg'); 
}
/* estilo das imagens */
.imagem-produto {
    width: 200px;
    height: 200px;
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    border-bottom: 6px solid #FFD700; /* detalhe amarelo */
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* efeito do mouse */
.imagem-produto:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #FFD70044;
}

.produto p {
    font-size: 16px;
    color: #f2f2f2;
    margin: 0;
}

/* rodapé */
footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    color: #777;
    border-top: 2px solid #FFD700;
}

/* responsividade*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
    }

    .imagem-produto {
        width: 180px;
        height: 180px;
    }
}
